#cv {
    height: 100vh;
    overflow: auto;
    align-content: center;
    background-color: var(--grey);
    padding-bottom: 3%; 
    }

.cv-toggle {
    width: 95%;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 0.2rem auto;
    display: block;
}

.cv-content {
    display: block;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    padding: 0 1rem;
    border-radius: 5px;
    
}

.cv-content article {
    padding: 0.5rem 0;
}

.cv-content ul {
  padding-left: 1.2rem; 
  margin: 1%;
  list-style-type: "-   " 
}