/* Main START */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px auto;
    max-width: 75%;
    padding: 0 20px 100px; /* extra bottom padding for footer */
}

#content {
    grid-column: span 4;
    width: 50%;
    justify-self: center;
}

#content h2 {
    text-align: left;
}

#content a:hover {
    font-weight: 700;
    color: #3f3f3d;
}

.quotemarks {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;

}

.logo-socialmedia {
    margin: 15px 30px;
}

.logo-socialmedia img {
    width: 30px;
    margin: 15px 5px 0 0;
}

.logo-socialmedia p {
    align-self: left;
    font-size: 8px;
    margin: -8px 0 0 3px;
    padding: 0;
}

#main-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 30px 20px;
    border-radius: 6px;
    grid-column: span 4;
}

#main-projects h2 {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 250px;
    height: 300px;
    margin: 20px 50px;
    border-radius: 20%;
    box-shadow: 3px 0 10px 3px rgba(0,0,0,0.3);
    transition: transform 1s ease;
    overflow: hidden;
}

.card1 h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.card2 h3 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.card3 h3 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.cards:hover{
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

.card1 {
    background: #F3F7EC;

}

.card1 img {
    width: 120px;
    margin: 0 auto;
}

.card1 p {
    width: 210px;
    font-size: 13px;
    /* background-color: rgba(0,0,0,0.3); */
    text-align: justify;
    margin: 15px 0 0 0;
    padding: 10px 20px;
}

.card2 {
    background-color: #283149;
}

.card2 img {
    width: 150px;
    margin: 0 auto;
}

.card2 p {
    color: white;
    width: 200px;
    font-size: 13px;
}

.card3 {
    background-color: #011F3F;
}

.card3 img {
    width: 70px;
    margin: 0 auto;
}

.card3 p {
    color: white;
    width: 200px;
    font-size: 13px;
}

/* Main END */