#projects{
    height: 100vh;
    align-content: center;
    }

.container {
    padding: 2em;
}

.swiper-slide {
    height: 650px !important; /* låter kortet fylla höjden */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list .card-item {
    display: flex;
    /* width: 400px; */
    height: 150px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    align-content: center;
}

.projectCard {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 2em;
}

.projectImg {
    display: block;
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid var(--grey1);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.projectContent {
    width: 100%;
    padding: 1em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectContent a:first-of-type {
    margin-top: auto;
}

.projectTags {
    margin-top: 0.5em;
    font-style: italic;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--secondary);
}

.swiper-pagination-bullet {
    background-color: var(--secondary);
}

