/* reset css */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
 box-sizing: border-box;
}
/* 2. Remove default margin */
* {
 margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
 html {
 interpolate-size: allow-keywords;
 }
}
body {
 /* 4. Add accessible line-height */
 line-height: 1.5;
 /* 5. Improve text rendering */
 -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
 display: block;
 max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
 font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
 overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
 text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
 text-wrap: balance;
}
/*
 10. Create a root stacking context
*/
#root, #__next {
 isolation: isolate;
}



/* :ROOT */
:root {
    --primary: #232421;
    --secondary: #fafafa;
    --tertiary: #374A67;
    --quaternary: #9E7B9B;
    --overall-color: #ffffff;
    --bg-color: #F9F9F8;

    font-family:'Montserrat', Arial, sans-serif;
}



/* Overall styles */

body {
    background-image: url("./assets/imgs/bg4.png");
    background-color: var(--bg-color);
    background-size: 100%;
    z-index: 0;
}



h1 {
    color: var(--tertiary);
    font-family: 'Carattere', 'Times New Roman', serif;
    font-size: 2em;
}

/* p, h2, h3 */
p, h2, h3 {
    padding: 10px;
}

h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    width: 50%;
}

hr {
    width: 70%;
    justify-self: center;
}

.profile-pic {
    width: 50px;
}

.wrapper, .footer-wrapper {
    /* border: #232421 2px solid; */
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
    justify-self: center;
    }

.footer-wrapper {
    padding-bottom: 100px;
}


/* NAV-BAR START */

/* Larger screen START */

.fixed-nav { 
    display: flex;
    background-color: #fff;
    padding: 0px 15px;
    width: 60%;
    justify-self: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
}

.desktop-navbar {
    background: #fff;
    display: flex;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar .menu{
    display: none;
}

#menuToggle {
    display: none;
}

ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--tertiary);
    font-weight: bold;
    transition: color 0.5s;

}

a:hover {
    color: var(--quaternary)
}
/* Larger screen END */



/*  NAV-BAR END */

/* Overall wrapper */

/* MAIN START */


/* MAIN END */




/* FOOTER START */
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: var(--primary);
        background: var(--secondary);
        padding: 10px 0;
        margin: 0;
        z-index: 100;
        height: 45px;
    }
/* FOOTER END */