/* Global Styles START */
:root {
    --gardient: linear-gradient(135deg, #f6d6d6 0%, #d8f3dc 100%);
}

body {
    background-color: #f3f3f3;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    color: #111;
    line-height: 1.6;
}

a {
    color: darkblue;
    text-decoration: none;
    font-weight: 500;
    transition: font-weight 0.2s;
}
a:hover {
    font-weight: 700;
    color: #f3f3f3;
}

p {
    margin: 15px 30px;
}

h2, h3, h4 {
    margin: 5px 30px;
}

/* hr {
    height: 1px;
    border: none;
    background-color: black;
    width: 80%;
} */

/* Global Styles END */



/* Navigation START */
nav {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 170px;
    padding: 0;
    list-style: none;
}

nav ul li a, footer a {
    color: #fff;
}

/* Navigation END */



/* Header START */
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    max-width: 1200px;
    height: 720px;
    margin: 0 auto;

    /* border: 2px red solid; */
    background: var(--gardient);
    /* background: linear-gradient(135deg, #d5bfbf 0%, #c9d6c5 100%); */
    /* background: linear-gradient(135deg, #e9d8a6 0%, #bcd4e6 100%); */
    /* background: radial-gradient(circle at top left, #d8e2dc 0%, #b7c4cf 100%); */

}

header img {
    /* border: 2px solid black; */
    grid-column: span 2;
    grid-row: span 7;
    align-self: end;
    max-width: 500;
    height: auto;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.4); */
}

header h1 {
    font-family: 'Meddon', 'Times New Roman', serif;
    font-size: 60px;
    color: black;
    grid-column: 3 /6;
    grid-row: 4 / 5;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    /* box-shadow: inset 10px 0px 10px -12px rgba(0,0,0,0.5); */
    /* border-left: 8px double white; */
    margin: 0;
    padding: 30px 0 30px 40px;
    /* -webkit-text-stroke: 0.1px #000; */
    opacity: 0;
    transform: translateX(-40px); /* Transition börjar 40px mer åt vänster */
    animation: slideLeft 3s ease forwards; /* Startar automatiskt */
}

@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header p {
    grid-column: 4 / 5;
    grid-row: 5 / 5;
    color: black;
    font-size: 25px;
    /* border-right: 8px double white; */
    padding: 10px 20px 10px 0;
    margin: 20px auto;
    align-self: center;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    /* box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.5); */
    transform: translateX(40px); /* Transition börjar 40px mer åt höger*/
    animation: slideRight 1.5s ease forwards; /* Startar automatiskt */
}

@keyframes slideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Head END */


/* Main START */

#side-info {
    grid-column: span 1;
}

#side-info,
#content,
#content-portfolio,
#content-cv {
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* border-left: #111 2px solid;
    border-right: #111 2px solid; */
    padding: 30px 20px;
    border-radius: 6px;
}

/* Main END */

/* Footer START */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: black;
    padding: 10px 0;
    margin: 0;
    z-index: 100;
}

/* Footer END */