body {
    background-color: black;
    font-family: 'montserrat', Arial, sans-serif;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    display: block;
    font-family: 'meddon', 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    border-color: black;
    border-left-color: white;
    border-style: double;
    border-width: 8px;
    margin-top: 150px;
    margin-left: 50px;
    padding: 30px 0 30px 40px;
}

h2 {
    margin-left: 30px;
    margin-right: 30px;
}

nav {
    position: relative;
    top: 20px;
    margin-left: 200px;
}

.nav-links {
    color: white;
    margin: 20px;
    text-decoration: none;
}

p {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.p-header {
    color: white;
    font-size: 25px;
    border-color: black;
    border-right-color: white;
    border-style: double;
    border-width: 8px;
    margin-left: 500px;
    padding: 10px 20px 10px 0px;
}

.p-center {
    text-align: center;
}

ul {
    margin-left: 30px;
    margin-right: 30px;
}

header {
    display: flex;
    background-color: black;
    margin-top: 50px;
    width: 75%;
    height: 600px;
    justify-self: center;
    align-items: flex-start
}

main {
    display: flex;
    margin-top: 20px;
    width: 75%;
    justify-self: center;
}

#side-info {
    background-color:  rgba(255, 255, 255, 0.7);
    width: 25%;
     padding: 30px 10px 30px 10px;
    margin: 5px;
}

#content {
    background-color:  rgba(255, 255, 255, 0.7);
    width: 70%;
    padding: 30px 10px 30px 10px;
    margin: 5px;
}

hr {
    height: 1px; 
    border: none;
    background-color: black; 
    width: 80%;
}

.img-olivia {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5%;
}

footer {
    text-align: center; 
    color:white; 
    margin-top: 40px;
}